.menuItem {
  width: 400px;
  border: 4px solid #7a5a36;
  margin-bottom: 30px;

  .header {
    position: relative;
    .imgItem {
      object-fit: contain;
      width: 100%;
    }

    .price {
      position: absolute;
      right: 10px;
      top: calc(100% - 50px);
      background: #b34b29;
      color: #e6dab2;
      font-weight: bold;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      text-align: center;
      border: 4px solid #e6dab2;
      font-family: 'iCielBCPortico-Regular', Arial;
      padding: 10px 0;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      z-index: 100;
    }
  }

  .content {
    padding: 10px 0 10px 10px;
    position: relative;
    background: #eaddb2;
    &::before {
      height: 30px;
      width: 100%;
      content: '';
      position: absolute;
      background: url(//dauhomemade.vn/apps/themes/bundau/css/../img/serrations.png);
      top: -30px;
      left: 0;
    }

    .name {
      color: #38260e;
      font-size: 20px;
      margin-right: 100px;
      display: block;
      line-height: 20px;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #b34b29;
      }
    }

    .diver {
      color: #38260e;
    }

    .description {
      font-family: 'RobotoMono-Regular', Arial;
      font-size: 14px;
      color: #38260e;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .btnContainer {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    .btn {
      font-family: 'iCielBCPortico-Regular', Arial;
      font-size: 15px;
      padding: 5px 10px;
      color: #38260e;
      border: 4px dotted #38260e;
      margin: 5px 0;
      display: inline-block;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background: #f0c215;
        border-style: solid;
        outline: 2px solid #7a5a36;
        outline-offset: 4px;
      }
    }

    .input {
      width: 100px;
      background: transparent !important;
      border: 2px solid #000;
    }
  }
}
