.homeContainer {
  background: #efd698 url(//dauhomemade.vn/apps/themes/bundau/css/../img/bgloop.jpg) repeat center top/100% auto;
  min-height: 100%;
  padding: 20px;
  .titleContainer {
    padding-top: 50px;
    // text-align: center;
    .title {
      color: #b34b29;
      -webkit-text-fill-color: #b34b29;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #fff;
      -webkit-background-clip: text;
      background-clip: text;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 120px;
      white-space: nowrap;
      line-height: 100px;
      text-shadow: 6px 8px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      letter-spacing: 10px;
      top: -10px;
      margin-bottom: -10px;
    }

    .description {
      margin-top: 20px;
      background: #7a5a36;
      font-family: 'iCielBCPortico-Regular', Arial;
      font-size: 15px;
      padding: 17px 15px;
      color: #e6dab2;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }

  .addressContainer {
    font-family: 'RobotoMono-Regular', Arial;
    font-weight: 700;
    font-size: 14px;
    // border: 3px solid #7a5a36;
    border-right: 3px solid #7a5a36;
    border-bottom: 3px solid #7a5a36;
    border-left: 3px solid #7a5a36;
    letter-spacing: -1px;
    line-height: 18px;
    position: relative;
    height: 100%;

    .title {
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 25px;
      margin-top: -10px;
      position: absolute;
      color: #41512b;
      top: -10px;
      text-align: center;
      left: 50%;
      top: 2px;
      width: 120px;
      background: transparent;
      transform: translate(-50%, 0);
    }

    .info {
      color: #38260e;
      text-align: center;
      font-family: 'RobotoMono-Regular', Arial;
      font-weight: 700;
      font-size: 16px;
      padding-top: 5px;
    }
    .name {
      padding-top: 30px;
    }

    .divider {
      color: #b34b29;
      text-align: center;
      font-size: 18px;
      padding-top: 4px;
    }
  }

  .infoContainer {
    font-family: 'RobotoMono-Regular', Arial;
    font-weight: 700;
    font-size: 14px;
    // border: 3px solid #7a5a36;
    border-right: 3px solid #7a5a36;
    border-bottom: 3px solid #7a5a36;
    border-left: 3px solid #7a5a36;
    letter-spacing: -1px;
    line-height: 18px;
    position: relative;

    margin-top: 20px;

    .title {
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 25px;
      margin-top: -10px;
      position: absolute;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      color: #41512b;
      top: -10px;
      text-align: center;
      left: 50%;
      top: 2px;
      width: 320px;
      background: transparent;
      transform: translate(-50%, 0);
    }

    .content {
      padding: 20px 20px 0;
      justify-content: space-between;

      .detail {
        border-bottom: 1px dashed #7a5a36;
      }

      .header {
        display: flex;
        flex-direction: row;
        flex: 13;
        .name {
          flex: 4;
        }

        .price {
          flex: 3;
        }
        .quantity {
          flex: 4;
        }

        .totalPrice {
          flex: 2;
        }
      }
      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 13;
        margin-bottom: 10px;
        .name {
          flex: 4;
        }

        .price {
          flex: 3;
        }
        .quantity {
          flex: 4;

          input {
            width: 100px;
            background: transparent !important;
            border: 2px solid #000;
            cursor: pointer;
          }
        }

        .totalPrice {
          flex: 2;
        }
      }

      .summary {
        display: flex;
        flex-direction: row;
        justify-content: end;

        margin: 20px;
        .total {
          font-size: 28px;
          color: #38260e;
          margin-bottom: 10px;
        }

        .price {
          font-size: 20px;
        }
        .unit {
          text-decoration: underline;
          margin-left: 2px;
        }
      }
    }
  }
}

.btnContainer {
  display: flex;
  justify-content: end;
}
.btnContainer2 {
  display: flex;
  justify-content: start;

  .btnOrder {
    margin-left: 0;
    padding: 0.375rem 1.75rem;
  }
}

.btnOrder2 {
  display: inline-block;
  border: 4px solid #7a5a36;
  padding: 0.375rem 0.75rem;
  outline: 2px solid #7a5a36;
  outline-offset: 4px;
  margin: 15px 15px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.btnOrder {
  display: inline-block;
  background: #f0c215;
  border: 4px solid #7a5a36;
  padding: 0.375rem 0.75rem;
  outline: 2px solid #7a5a36;
  outline-offset: 4px;
  margin: 15px 15px 0;
  font-family: 'iCielBCPortico-Regular', Arial;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    outline-offset: 0;
    color: #b34b29;
  }
}

.inputForm {
  width: 50%;
}

.form {
  :global {
    .ant-form-item-label {
      font-size: 14px;
    }

    .total {
      font-size: 28px;
      color: #38260e;
      margin-bottom: 10px;
    }

    .price {
      font-size: 20px;
    }
    .unit {
      text-decoration: underline;
      margin-left: 2px;
    }
  }
}
