.homeContainer {
  background: #efd698 url(//dauhomemade.vn/apps/themes/bundau/css/../img/bgloop.jpg) repeat center top/100% auto;
  min-height: 100%;
  padding: 20px;

  .titleContainer {
    padding-top: 50px;
    // text-align: center;
    .title {
      color: #b34b29;
      -webkit-text-fill-color: #b34b29;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #fff;
      -webkit-background-clip: text;
      background-clip: text;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 120px;
      white-space: nowrap;
      line-height: 100px;
      text-shadow: 6px 8px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      letter-spacing: 10px;
      top: -10px;
      margin-bottom: -10px;
    }

    .description {
      margin-top: 20px;
      background: #7a5a36;
      font-family: 'iCielBCPortico-Regular', Arial;
      font-size: 15px;
      padding: 17px 15px;
      color: #e6dab2;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }

  .addressContainer {
    font-family: 'RobotoMono-Regular', Arial;
    font-weight: 700;
    font-size: 14px;
    // border: 3px solid #7a5a36;
    border-right: 3px solid #7a5a36;
    border-bottom: 3px solid #7a5a36;
    border-left: 3px solid #7a5a36;
    letter-spacing: -1px;
    line-height: 18px;
    position: relative;
    height: 100%;

    .title {
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 25px;
      margin-top: -10px;
      position: absolute;
      color: #41512b;
      top: -10px;
      text-align: center;
      left: 50%;
      top: 2px;
      width: 120px;
      background: transparent;
      transform: translate(-50%, 0);
    }

    .info {
      color: #38260e;
      text-align: center;
      font-family: 'RobotoMono-Regular', Arial;
      font-weight: 700;
      font-size: 16px;
      padding-top: 5px;
    }
    .name {
      padding-top: 30px;
    }

    .divider {
      color: #b34b29;
      text-align: center;
      font-size: 18px;
      padding-top: 4px;
    }
  }

  .buttonOrder {
    display: flex;
    justify-content: center;
    .btnLink {
      background: #f0c215;
      font-family: 'iCielBCPortico-Regular', Arial;
      font-size: 16px;
      color: #38260e;
      text-transform: uppercase;
      border-radius: 0;
      border: 4px solid #7a5a36;
      margin: 30px 0;
      outline: 2px solid #7a5a36;
      outline-offset: 4px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      box-shadow: none;
      padding: 0.375rem 30px;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
    }
  }

  .infoContainer {
    font-family: 'RobotoMono-Regular', Arial;
    font-weight: 700;
    font-size: 14px;
    // border: 3px solid #7a5a36;
    border-right: 3px solid #7a5a36;
    border-bottom: 3px solid #7a5a36;
    border-left: 3px solid #7a5a36;
    letter-spacing: -1px;
    line-height: 18px;
    position: relative;

    margin-top: 20px;

    .title {
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 25px;
      margin-top: -10px;
      position: absolute;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      color: #41512b;
      top: -10px;
      text-align: center;
      left: 50%;
      top: 2px;
      width: 320px;
      background: transparent;
      transform: translate(-50%, 0);
    }

    .content {
      padding: 20px 20px 0;
      justify-content: space-between;
    }

    .colleft {
      padding: 20px;

      .description {
        font-family: 'RobotoMono-Regular', Arial;
        font-size: 14px;
        color: #38260e;
      }

      .imgSmall {
        margin-top: 20px;
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
    }

    .colRight {
      padding: 20px;
      .imgSmall2 {
        // margin-top: 20px;
        height: calc(100% - 2px);
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .infoContainer2 {
    font-family: 'RobotoMono-Regular', Arial;
    font-weight: 700;
    font-size: 14px;
    // border: 3px solid #7a5a36;
    border-right: 3px solid #7a5a36;
    border-bottom: 3px solid #7a5a36;
    border-left: 3px solid #7a5a36;
    letter-spacing: -1px;
    line-height: 18px;
    position: relative;
    width: 100%;
    margin-top: 40px;

    .title {
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 25px;
      margin-top: -10px;
      position: absolute;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      color: #41512b;
      top: -10px;
      text-align: center;
      left: 50%;
      top: 2px;
      width: 320px;
      background: transparent;
      transform: translate(-50%, 0);
    }

    .content {
      padding: 20px 20px 0;
      justify-content: space-between;
    }

    .colleft {
      padding: 20px;

      .description {
        font-family: 'RobotoMono-Regular', Arial;
        font-size: 14px;
        color: #38260e;
      }

      .imgSmall {
        margin-top: 20px;
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
    }

    .colRight {
      padding: 20px;
      .imgSmall2 {
        // margin-top: 20px;
        height: calc(100% - 2px);
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .descriptionHN {
    .title {
      font-size: 40px;
      line-height: 40px;
      padding-bottom: 20px;
      position: relative;
      background: url(//dauhomemade.vn/apps/themes/bundau/css/../img/icon_title.png) no-repeat center bottom 10px/10px;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      color: #b34b29;
      margin-top: -10px;

      &::before {
        position: absolute;
        content: '';
        width: calc(50% - 15px);
        height: 3px;
        background: #7a5a36;
        left: 0;
        bottom: 15px;
      }

      &::after {
        position: absolute;
        content: '';
        width: calc(50% - 15px);
        height: 3px;
        background: #7a5a36;
        right: 0;
        bottom: 15px;
      }
    }

    .content {
      line-height: 18px;
    }
  }

  .colRightParrent {
    padding-left: 20px;
  }
}
