.markerContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: fit-content;
    img{
        width: 54px;
        height: 70px;
        margin: auto;
        position: absolute;
        top: -56px;
        left: -27px;
    }
    .siteName{
        background: #4F4167;
        border-radius: 100px;
        padding: 6px 10px;
        white-space: nowrap;
        width: fit-content;
        font-size: 13px;
        color: #fff;
    }
}