.footerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 0 20px 20px;
  background: #efd698 url(//dauhomemade.vn/apps/themes/bundau/css/../img/bgloop.jpg) repeat center top/100% auto;
  margin: 0 0 20px 0;
}
