.homeContainer {
  background: #efd698 url(//dauhomemade.vn/apps/themes/bundau/css/../img/bgloop.jpg) repeat center top/100% auto;
  min-height: 100%;
  padding: 20px;

  .titleContainer {
    padding-top: 50px;
    // text-align: center;
    .title {
      color: #b34b29;
      -webkit-text-fill-color: #b34b29;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #fff;
      -webkit-background-clip: text;
      background-clip: text;
      font-family: 'iCielBCGrindstone-Regular', Arial;
      font-size: 120px;
      white-space: nowrap;
      line-height: 100px;
      text-shadow: 6px 8px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      letter-spacing: 10px;
      top: -10px;
      margin-bottom: -10px;
    }

    .description {
      margin-top: 20px;
      background: #7a5a36;
      font-family: 'iCielBCPortico-Regular', Arial;
      font-size: 15px;
      padding: 17px 15px;
      color: #e6dab2;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }

  .content {
    padding-top: 30px;
  }

  .filter {
    margin: 10px;
    .search {
      border-radius: 6px;
      background: transparent !important;
      border: 2px solid #000 !important;
      width: 200px;
      margin-right: 5px;

      input {
        background: transparent !important;
        border: none !important;
        height: 100%;
      }

      :global {
        .ant-input-group-addon,
        .ant-input-search-button {
          background: transparent !important;
          border: none !important;
        }

        .ant-input-wrapper {
          height: 100%;
        }
      }
    }
    .btn {
      font-family: 'iCielBCPortico-Regular', Arial;
      font-size: 15px;
      padding: 5px 10px;
      color: #38260e;
      border: 1px solid #38260e;
      margin: 5px;
      display: inline-block;
      cursor: pointer;
      font-weight: bold;

      &.active {
        background: #f0c215;
        border: 2px solid #38260e;
      }
    }
  }
}
